#first {
  padding-top: 5%;
  background: #561A0E;
  color: #DEC6D7;
  text-justify: center;
  text-align: center;
  flex-flow: column;
  column-count: 1;
  justify-content: center;
  flex-direction: center;
  align-items: center;
  align-self: center;
  height: 200px;
}
body {
    background-image: url("https://image.freepik.com/free-photo/milky-way-starry-sky-background_34011-265.jpg");
    background-repeat: repeat;
    background-size: cover;
}
#first {
    font-size: 75px;
    font-family: arial;
    align-self: center;
    justify-content: center;
}
#appro_id {
    height: 750px;
    display: flex;
    align-items: baseline;
    justify-content: center;
    padding: 25px;
}

#first a{
    text-decoration: none;
    color: #FBFBEB;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #B525E5 ;
}

#slice {
    filter: grayscale(40%);
    position: fixed;
    position: relative;
    animation: pull 15s alternate infinite;
    animation: push 10s alternate infinite;
    animation delay: 30s
}

#quote{
    display: flex;
    position: absolute;
    justify-content: center;
    align-self: flex-end;
    align-content: center;
    font-size: 40px;
    padding: 10px;
    width: 1800px;
    overflow: hidden;
    background-color: #B525E5;
    opacity: 0.9;
}

@keyframes center {
    display: flex;
    position: absolute;
    center: 100px;
}
@-webkit-keyframes center {
    display: flex;
    position: absolute;
    center: 100px;
}
@keyframes push {
    0% {
        left: 0;
        top: 0;
  }

  50% {
    left: 500px;
    top: 25px;
  }
  100% {
    top: 75px;
    left: 100px;
    bottom: 400px;
  }
}

@-webkit-keyframes push {
    0% {
        left: 300px;
        top: 0;
  }

  50% {
    left: 0;
    top: 0;
  }
  100% {
    top: 50px;
    left: 100px;
  }
}
@webkit pull {
    0% {
        right: 0;
        bottom: 0;
  }

  50% {
    border-right: -100px;
    bottom: 100px;
  }
  100% {
    bottom: 60px;
    left: 50px;
  }
}

@-webkit-keyframes pull {
    0% {
        right: 0;
        bottom: 0;
  }

  50% {
    border-right: -100px;
    bottom: 100px;
  }
  100% {
    bottom: 60px;
    left: 50px;
  }
}

#pizza, #quote {
    animation-timing-function: linear;
    animation-timing-function: ease;
    animation-timing-function: ease-in;
    animation-timing-function: ease-out;
    animation-timing-function: ease-in-out;
    animation-timing-function: center;
}

#pizza, #quote {
    -webkit-animation-timing-function: linear;
    -webkit-animation-timing-function: ease;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: center;
}

#left, #center, #right{
    text-justify: center;
    text-align: center;
    background: #63499F;
    border-color: #DEC6D7;
    border-style: dotted;
    font-size: 40px;
    height: 600px;
    width: 500px;
    padding: auto;
}

#resume {
    flex-direction: column;
    flex-flow: column;
    align-items: center;
    column-count: 3;
    color: #C3D23D;
    justify-content: space-around;
}

#left, #center, #right p{
    color: #C3D23D;
}


#left a{
    text-decoration: none;
    color: #C3D23D;
}

#center a{
    text-decoration: none;
    color: #C3D23D;
}

#right a{
    text-decoration: none;
    color: #C3D23D;
}

footer {
    font-size: 220%;
    font: arial;
    text-decoration: border;
    border-style: outset;
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
}

#assignment p{
    display: flex;
    flex-direction: center;
    color: #DEC6D7;
}
